*, *::before, *::after {
  box-sizing: border-box;
}

@font-face {
    font-family: 'panoptica'; /*a name to be used later*/
    src: url('./panoptica.ttf'); /*URL to font*/
}

body {
    background-color: whitesmoke;
    background-image: url('./images/stars.gif');
    font-family:'Times New Roman', Times, serif;
    font-size: 1em;
    margin: 20px;
}

a {
    color: inherit;
    font-family: "panoptica-octagonal";
    font-weight: 600;
    text-decoration: none;
    color: blue;
}


h1 {
    font-family: 'panoptica';
    color: white;
    font-style: italic;
    font-size: 6em;
    margin: 0;
    font-weight: normal;
    text-align: justify;
    text-align-last: justify;
    text-shadow: 3px 3px #0000ff;
}

h2 {
    font-family: 'panoptica';
    font-size: 1.5em;
    font-weight: normal;
    text-align: justify;
    text-align-last: justify;
    margin: 0;
}

h6 {
    font-family: "panoptica-pixel";
    font-size: 1em;
    margin: 0;
}

p {
    font-family: "adobe-caslon-pro", serif;
    font-weight: 400;
    font-style: normal;
}

.panel {
    border-style: solid;
    display: inline-block;
    width: fit-content;
    border-width: 1px;
    border-color: blue;
    padding: 20px;
    box-shadow: 5px 5px blue;
    margin: 20px;
}

.reading {
    background-color: pink;
}

.resource {
    background-color: lemonchiffon;
}

.header {
    background-color: none;
    margin-top: 20px;
    padding: 20px;
}

.section {
    background-color: blue;
    text-align: center;
    font-family: "panoptica-octagonal", sans-serif;
    margin: 20px;
    padding: 20px;
    font-weight: 600;
    font-style: normal;
    color: white;
}

.footer {
    background-color: #00ff00;
    bottom: 0px;
}

.button {
    display: inline-block;
    color: white;
    width:fit-content;
    font-family: "panoptica-octagonal", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.text-box {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;

}