*, *::before, *::after {
  box-sizing: border-box;
}

@font-face {
    font-family: 'panoptica'; /*a name to be used later*/
    src: url('./panoptica.ttf'); /*URL to font*/
}

body {
    background-color: whitesmoke;
    background-image: url('./images/stars.gif');
    font-family:'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 14pt;
    margin: 0px;
}

p {
    margin: 0;
}

ul {
    list-style-type: square;
    padding-left: 14pt;
}


li + li {
    margin-top: 8pt;
}

p + p {
    margin-top: 12pt;
}

a {
    color: inherit;
    font-family: "panoptica-octagonal";
    font-weight: 600;
    text-decoration: none;
    color: blue;
    display: inline-block;
}


h1 {
    font-family: 'panoptica';
    color: pink;
    font-style: italic;
    font-size: 6em;
    margin: 0;
    font-weight: normal;
    text-align: justify;
    text-align-last: justify;
    text-shadow: 3px 3px #0000ff;
}

h2 {
    font-family: 'panoptica';
    font-size: 1.5em;
    font-weight: normal;
    text-align: justify;
    text-align-last: justify;
    margin: 0;
}

h6 {
    font-family: "panoptica-pixel";
    font-size: 1em;
    margin: 0;
}

.main {
    margin-top: 200px;
    margin-bottom: 80px;
}

.entry {
    margin: 80px 0px 20px 0px;
}

.panel {
    border-style: solid;
    width: fit-content;
    border-width: 1px;
    border-color: blue;
    padding: 20px;
    box-shadow: 5px 5px blue;
    margin: 20px;
}

.reading {
    background-color: pink;
}

.resource {
    background-color: lemonchiffon;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    position: fixed;
}

.section {
    background-color: blue;
    text-align: center;
    font-family: "panoptica-octagonal", sans-serif;
    padding: 20px;
    font-weight: 600;
    font-style: normal;
    color: white;
    margin-bottom: 20px;
}

#top-links {
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
}

.button {
    font-family: 'panoptica';
    color: pink;
    font-style: italic;
    font-size: 2em;
    margin: 0;
    font-weight: normal;
    text-align: justify;
    text-align-last: justify;
    text-shadow: 2px 2px #0000ff;
}

.text-card-row {
    display: flex;
    justify-content: center;
    margin: 0px 40px 0px 40px;
}

.text-box {
    padding: 40px;
    background-color: white;
    width: 800px;
}

.footer {
  bottom: 0;
  width: 100%;
  position: fixed;
  overflow: hidden;    /* hide scroll bar */
}

.ticker {
  white-space: nowrap;
  display: inline-block;
  color: white;
  font-size: 1.5rem;
  padding: 10px 0;
}

.ticker-wrap {
  display: inline-block;
  padding-left: 100%;               /* start off-screen */
  animation: scroll-left 20s linear infinite;
}

.ticker-item {
  display: inline-block;
  font-family: "panoptica-octagonal";
  color: #00ff00;
  text-shadow:  2px 2px 1px black;
  padding: 0 2rem;                  /* spacing between items */
}

@keyframes scroll-left {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}